<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srivats.incentive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".CheckUser"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge">
        <activity
            android:name=".BottomNavi"
            android:label="@string/title_activity_bottom_navi"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"/>
        <activity android:name=".Common.WhatsNew" />
        <activity android:name=".OfflineScreen.EditTask" />
        <activity android:name=".Auth.SignUp" />
        <activity android:name=".Auth.ForgotPassword" />
        <activity android:name=".Auth.Login" />
        <activity android:name=".Auth.Landing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OfflineScreen.MainActivity" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

<!--        <activity android:name=".SplashScreen">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".OfflineScreen.ViewTask" />
        <activity
            android:name=".OfflineScreen.AddTask"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Common.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>